.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  margin-bottom: 20px;
}

header img {
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px;
}

nav ul li button {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 150px; /* Adjust button width as needed */
  height: 50px; /* Adjust button height as needed */
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  background-color: darkturquoise; /* Button background color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s;
}

nav ul li button:hover {
  background-color: teal; /* Hover background color */
  color: white;
}

